body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: black;
}

h1 {
    color: #80b461;
    font-size: 32px;
    text-align: center;
}

.email-section,
.phone-section {
    margin-bottom: 20px;
    text-align: center;
}

h3{
    color: #80b461;
}

span{
    color: azure;
}
.email-item,
.phone-section span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.email-item i,
.phone-section i {
    margin-right: 10px;
    color: #539ccd;
}

p {
    font-size: 16px;
    color: #ffffff;
    margin: 0;
}

.email-address{
    color: #c5a099;
}