body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


i {
    color: #e4405f;
    font-size: 24px;
    margin-right: 10px;
}

a {
    font-size: 18px;
    color: #80b461;
    text-decoration: none;
}

a:hover {
    color: #e4405f;
}

div.account {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

div.account:last-child {
    margin-bottom: 0;
}
